In [2]:
import sys
print(sys.version)

3.9.13 (main, Aug 25 2022, 23:51:50) [MSC v.1916 64 bit (AMD64)]

In [3]:
!dir

 C 드라이브의 볼륨: OS
 볼륨 일련 번호: 3810-D41B

 C:\python 디렉터리

2023-02-14  오후 07:24    <DIR>          .
2023-02-14  오후 07:24    <DIR>          .ipynb_checkpoints
2023-02-14  오후 07:23                72 01_pythonreview.ipynb
               1개 파일                  72 바이트
               2개 디렉터리  294,410,186,752 바이트 남음

In [9]:
# 튜플은 불변
tuple_variable = (1, 2, 3, 4, 5, "hello")
tuple_variable[0] = 0
tuple_variable[1:3] = ("음", "오")
del tuple_variable[1]

TypeError: 'tuple' object does not support item assignment

In [10]:
# 리스트는 가변
tuple_variable = [1, 2, 3, 4, 5, "hello"]
tuple_variable[0] = 0
tuple_variable[1:3] = ("음", "오")
del tuple_variable[1]
print(tuple_variable)

[0, '오', 4, 5, 'hello']

In [13]:
# 파이썬 입력 사용해보기

input_value = input("message")

message 1111

In [14]:
print("input_value", input_value, "\ntype:", type(input_value))

input_value 1111
type: <class 'str'>

In [15]:
input_value = int(input_value)
print("input_value", input_value, "\ntype:", type(input_value))

input_value 1111
type: <class 'int'>

In [16]:
input_value2 = input("정수가 아닌 수를 입력:")

정수가 아닌 수를 입력: 1.1

In [17]:
print(input_value2)

1.1

In [20]:
input_value2 = float(input_value2)
print(input_value2)

1.1

In [21]:
input_value2 = int(input_value2)
print(input_value2)

1

In [29]:
input_value4 = int(input("정수를 입력해주세요:"))
print(input_value4, "\ntype:", type(input_value4))

정수를 입력해주세요: 2

2
type: <class 'int'>

In [33]:
#문제풀이 (나)

input_value5 = input("이름을 입력하시오.")
print(input_value5, "씨, 안녕하세요?")
input_value6 = int(input("첫 번째 정수를 입력하세요:"))
input_value7 = int(input("두 번째 정수를 입력하세요:"))
print(input_value6, "과", input_value7, "의 합은", input_value6 + input_value7, "입니다.")

이름을 입력하시오. 엔코아

엔코아 씨, 안녕하세요?

첫 번째 정수를 입력하세요: 300
두 번째 정수를 입력하세요: 400

300 과 400 의 합은 700 입니다.

In [34]:
#문제풀이 (정답지)

name = input("이름을 입력하시오.")
print(name, "씨, 안녕하세요?")
print("파이썬에 오신 것을 환영합니다.")

first_value = int(input("첫 번째 정수를 입력하세요:"))
second_value = int(input("두 번째 정수를 입력하세요:"))
print(first_value, "과", second_value, "의 합은", first_value + second_value, "입니다.")

이름을 입력하시오. 엔코아

엔코아 씨, 안녕하세요?
파이썬에 오신 것을 환영합니다.

첫 번째 정수를 입력하세요: 300
두 번째 정수를 입력하세요: 400

300 과 400 의 합은 700 입니다.

In [35]:
result = '1,2,3'.split(',')
print(type(result))
print(result)

<class 'list'>
['1', '2', '3']

In [41]:
h, m, s = input("hh:mm:ss 의 형태로 시간을 입력해주세요").split(":")

print("시 :", h)
print("분 :", m)
print("초 :", s)

hh:mm:ss 의 형태로 시간을 입력해주세요 12:23:33

시 : 12
분 : 23
초 : 33

In [42]:
h, m, s = input("hh:mm:ss 의 형태로 시간을 입력해주세요").split(":")
print(h, m, s)

hh:mm:ss 의 형태로 시간을 입력해주세요 12:23:33

12 23 33

In [47]:
kor, eng, mat, sci = input("국어, 영어, 수학, 과학 점수를 입력해주세요").split(",")
print(kor, eng, mat, sci)
print("평균 점수는", (kor + eng + mat + sci) / 4, "점입니다.")

국어, 영어, 수학, 과학 점수를 입력해주세요 98,100,96,100

98 100 96 100

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [52]:
kor, eng, mat, sci = map(int, input("국어, 영어, 수학, 과학, 점수를 입력해주세요").split(","))
avg = (kor + eng + mat + sci) / 4
print("평균 점수는", avg, "점입니다.")

국어, 영어, 수학, 과학, 점수를 입력해주세요 99,99,99,99

평균 점수는 99.0 점입니다.